interfaces = 0.0.0.0/24

[global]
map to guest = bad user

[media]
path = /media
public = yes
guest only = yes
writable = yes
force create mode = 0666
force directory mode = 0777
force user= root
browseable = yes